[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

pendulum = "*"


[dev-packages]

tox = "*"
coverage = "*"
pytest = "*"
pytest-runner = "*"
"flake8" = "*"


[requires]

python_version = "3.6"
