[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

pendulum = "*"
requests = "*"
"beautifulsoup4" = "*"


[dev-packages]

tox = "*"
coverage = "*"
pytest = "*"
pytest-runner = "*"
"flake8" = "*"
cryptography = "*"
pyyaml = "*"
pytest-mock = "*"


[requires]

python_version = "3.6"
